*{
	box-sizing: border-box;
}

/*nav bar*/
nav{
	background: rgb(0, 0, 0, 0.2);

	/*position*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul{
	margin-top: 0;
	list-style: none;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*home page*/

/*featured*/
.featured-shell{
	text-align: center;
	margin-top: 1%;
	border: 1px solid black;
	width: 90%;
	margin-top: 3%;
	margin: 0 auto;
}

.featured-shell h3{
	margin: 0;
}

.featured-container{
	text-align: center;
	width: 60%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	margin: 0 auto;
	height: 100%;
	cursor: pointer;
}

.featured-pic img{
	width: 90%;
}
/*all posts*/
.all-posts{
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	margin-top: 2%;
}

.post{
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	width: 24%;
}

.img-post{
	width: 100%;
}

/*
	LOGIN PAGE

*/
.gen-form{
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items:  center;
	margin: 0 auto;
}



.login-form button{
	width: 15%;
	margin-top: 2%;
}

/*

.account-form

*/


.account-form button{
	width: 25%;
	margin-top: 2%;
}

.new-site button{
	width: 25%;
	margin-top: 2%;
}

/*

FULL VIEW

*/

.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.full-view{
	width: 70%;
	border: 1px solid black;
	text-align: center;
}


.full-view img{
	margin-top: 1%;
	width: 70%;
}